@import '../../styles/base/variables';
@import '../../styles/base/typography';
@import '../../styles/utils/mixins';

.landing {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    justify-items: center;
    height: 100vh;
    height: 100dvh;
    box-sizing: border-box;
    padding: $spacing-40 $spacing-15;
    background-image: url('../../assets/images/LandingPage/LandingPageBackground.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        margin-bottom: -25px;

        img {
            width: 176px;
            height: auto;
        }
    }

    &__title {
        img {
            width: 233px;
            height: auto;
        }
    }

    &__footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $spacing-16;
        backdrop-filter: blur(25px) opacity(80%);
        border-radius: $border-radius-15;
        padding: 16px 12px;
    }

    &__text {
        @include text-16-regular;
        color: $color-cream;
        margin: 0;
        text-align: center;
    }
}