@import '../../styles/base/variables';
@import '../../styles/base/typography';
@import '../../styles/utils/mixins';

.register {

    &--step1 {
        background-color: $color-cream;
        height: 100vh;
        height: 100dvh;
        box-sizing: border-box;
        padding: $spacing-40 $spacing-15;
        display: grid;
        grid-template-rows: 1fr auto;
        align-items: center;
        justify-items: center;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $spacing-32;
    }

    &__title {
        @include text-32-regular;
        margin: 0;
        color: $color-coffee;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: $spacing-16;
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: $spacing-12;
    }

    &__label {
        @include text-16-regular;
        color: $color-coffee;
        text-align: left;
    }

    &__input {
        @include input-borders;
        @include text-16-regular;
        background-color: inherit;
        padding: 0 10px;
        height: 48px;
        width: 100%;
        box-sizing: border-box;
        outline: none;

        &:focus {
            border-color: $color-coffee;
            box-shadow: 0 0 0 2px rgba($color-coffee, 0.2);
        }

        &:invalid {
            border-color: #ff4444; // тут можно переделать
        }
    }
}