@import '../../styles/base/variables';
@import '../../styles/base/typography';
@import '../../styles/utils/mixins';

.button {
    @include text-16-regular;
    @include interactive-element;
    border: none;
    border-radius: $border-radius-15;
    width: 100%;
    text-align: center;

    &--primary {
        @include button-primary;
    }

    &--secondary {
        @include button-secondary;
    }

    &--large {
        @include button-size-large;
    }

    &--small {
        @include button-size-small;
    }
}