@import '../../styles/base/variables';

.main {
    background-color: $color-cream;
    min-height: 100vh;
    min-height: 100dvh;
    box-sizing: border-box;
    padding: $spacing-40 $spacing-15;
    // display: grid;
    // grid-template-rows: 1fr auto;
    // align-items: center;
    // justify-items: center;
}