@import '../../styles/base/variables';
@import '../../styles/base/typography';
@import '../../styles/utils/mixins';

.cart {
    background-color: $color-cream;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    width: 100%;
    padding-bottom: 70px;

    h1 {
        @include text-24-regular;
        text-align: left;
    }

    &--empty {
        justify-content: space-between;
    }

    &__empty-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $spacing-16;
    }

    &__empty-icon svg {
        height: 50px;
        width: 50px;
    }

    &__empty-text {
        @include text-24-regular;
    }

    &__empty-footer {
        bottom: 0;
        background: inherit;
        padding: 16px 0 80px 0;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: $spacing-16;
    }

    &__footer {
        // FIXME: исправить зазор
        position: sticky;
        bottom: 0;
        background: inherit;
        border-top: 1px solid $color-coffee; // !!!!
        padding: 16px 0 80px 0;
    }

    &__total {
        display: flex;
        justify-content: space-between;
        @include text-16-bold;
        margin-bottom: 16px;
    }
}