@import '../../../../styles/base/variables';
@import '../../../../styles/base/typography';
@import '../../../../styles/utils/mixins';

.seasonal-carousel {
    padding: 16px;
    border-radius: $border-radius-15;
    background-image: url('../../../../assets/images/HomePage/BackgroundCarousel.jpg');
    background-repeat: no-repeat;
    border: 1px solid $color-coffee;

    &__header {
        backdrop-filter: blur(25px) opacity(80%);
        width: 100%;
        margin-block-end: 24px;
        border-radius: $border-radius-15;

    }

    &__title {
        @include text-24-regular;
        margin: 0;
        color: $color-cream;
    }

    &__swiper {
        overflow: hidden;
        border-radius: $border-radius-15;
        padding-bottom: 32px;

        .swiper-pagination {
            bottom: 0;
        }

        .swiper-pagination-bullet {
            background: $color-cream;
            opacity: 0.4;
        }

        .swiper-pagination-bullet-active {
            background: $color-coffee;
            opacity: 0.8;
        }
    }
}