@import '../base/variables';

@mixin input-borders {
    border: 1px solid $color-coffee;
    border-radius: $border-radius-15;
}

@mixin interactive-element {
    cursor: pointer;
    // transition: all 0.3s;
    transition: transform 0.1s ease, opacity 0.15s ease;
    user-select: none;

    &:active {
        // opacity: 0.8;
        transform: scale(0.93);
        opacity: 0.7;
    }

    &--disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

@mixin button-primary {
    background-color: $color-coffee;
    color: $color-cream;
}

@mixin button-secondary {
    background-color: $color-cream;
    color: $color-coffee;
    border: 1px solid $color-coffee;
}

@mixin button-size-large {
    padding: 14.5px 0;
    min-height: 44px;
}

@mixin button-size-small {
    padding: 7.5px 10px;
}

@mixin button-press {
    transition: transform 0.1 ease, opacity 0.15s ease;

    &:active {
        transform: scale(0.97);
        opacity: 0.9;
    }
}