@import './variables';
@mixin text-12-regular {
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.3px;
}
@mixin text-16-regular {
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
}
@mixin text-16-bold {
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
}
@mixin text-16-italic {
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-style: italic;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
}
@mixin text-24-regular {
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.3px;
}
@mixin text-32-regular {
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size: 24px;
    line-height: 39px;
    letter-spacing: -0.3px;
}


// В макете для имени пользователя отдельный шрифт
// color: rgba(61, 34, 13, 1);
// font-family: Alkatra;
// font-style: SemiBold;
// font-size: 24px;
// font-weight: 600;
// line-height: 120%;
// letter-spacing: -0.3px;
// text-align: center;