
// fonts
$font-family: 'Inter', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

// colors
$color-cream: #ECD1BC;
$color-coffee: #3D220D;

//border-radius
$border-radius-15: 15px;

//spacings
$spacing-12: 12px;
$spacing-13: 13px;
$spacing-15: 15px;
$spacing-16: 16px;
$spacing-40: 40px;
